#api_view{
    background-color: black;
    color:white;
    padding: 15px;
    text-align: left;
}
#nasa_image img{
    width: 100%;
    aspect-ratio: 3/2;
}
#date_on{
    color: white;
    margin: 0px ;
    font-size: 25px;
    font-weight: bold;
    
}
#title, #previousSearch {
    font-size: 22px;
    font-weight: bold;
}

#dates li{
    margin: 5px;
}
ul {
    list-style-type: none;
    padding-left: 0px;
  }

